.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  margin-top: 20px;
}

.fox-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 10px;
}
